/* 
 * fieldset look 
 */


fieldset {
    margin: 4px;                                                                                                                                                                                                                                                               
    border: 0; /*1px solid black; */                                                                                                                                                                                                                                                   
    padding: 4px;
}

legend {
	width: auto;
	border: 0;
	margin: 0px;
	margin-left: 4px;
	paddin: 0px;
	padding-left: 4px;
	padding-right: 16px;
	padding-top: 0px;
	padding-bottom: 16px;
}



/* 
 * property page selector
 */

.page_selector {
    width: auto;
}


/*
 * property page table
 */

.prop_table {
	width: 90%;
	margin: 0;
	padding: 0;
}

.prop_table tr, td {
	border: 1px solid #CCCCCC;
	padding: 0;
	margin: 0;
}

.prop_table label {
	display: inline-block;
	width: 99%;
	font: 12px Helv;
	margin-left: 4px;
	margin-top: 4px;
	font-weight: bold;
	padding: 0;
}

.prop_table input {
    display: inline-block;
	width: 99%;
	font: 12px Helv;
	border: none;
	margin-left: 4px;
	margin-top: 2px;
	margin-right: 4px;
	padding: 0;
	height: 18px;
}

.prop_table input:focus {
	/*border: 1px solid black; */
}

.prop_table tr:hover {
	background: #EEEEEE;
	padding: 0;
}	


.confirm-delete {
}

/*********************/

/* .Wt-tableview 
 * .Wt-header
 * .Wt-tv-contents
 * .Wt-tv-c2
 * .headerrh 
 * */

.streamstab .Wt-tableview, .streamstab .Wt-header {
	border: 0;
}

.streamstab .Wt-headerdiv {
	border-top: 1px solid #AAAAAA;
	background: #EEEEEE;
}

.streamstab .Wt-tv-contents {
	border: 1px solid #CCCCCC;
}

.eventlog table, tr {
	width: 100%;
	border: 1px solid #CCCCCC;
}

.eventlog th {
	background: #EEEEEE;
	padding: 0px;
	padding-left: 16px;
}

.eventlog td {
	border: 0px;
	padding: 0px;
	padding-left: 16px;
}

.eventlog .error {
	color: red;
}

.eventlog .warning {
	color: orange;
}
