;;;;; Author: A. Myznikov <andrey.myznikov@gmail.com>

[Unit]
Description=Msm2 configuration console
After=syslog.target network.target local-fs.target

[Service]
; service
Type=forking
ExecStart=BINDIR/msmwctl
ExecStop=/usr/bin/killall msmwctl

TimeoutSec=15s
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
